/** Automated test developer
 * 
 *  1 - unit test
 *  this are test realized method by method as individual test
 * 
 *  2- integration test - tests used in this application
 *  this tests are executed in coupling of each method
 *  Ex: 
 *  -> request -> routes -> controller -> repository (entrance of test execution)
 *  <- repository -> controller <- response (exit of test execution)
 * 
 *  3- End to End (E2E) - not necessary to backend API
 *  this test is commonly used in frontend applications
 */

/** Test Tool - jest
 *  command = yarn jest --init
 *  define a running test script on package.json = yes
 *  define typescript to be used = yes
 *  define environment = node
 *  jugest do add coverage reports = no
 *  define engine = V8
 *  clean automatically instances between tests = yes
 * 
 *  package.son config
 *  after execution you may define posttest to exec something
 *  ex: "posttest": "rm ./src/database/database.test.sqlite"
 * 
 *  in script defined 'test' you may use option 
 *  '-i' to define queue test execution
 *  if this option won't be used 
 *  all test will be executed in the same time 
 *  possibly issues during execution
 * 
 */

// describe("First", () => {
//     // description
//     it("deve ser possível somar 2 numeros", () => {
//         // expected to be realized
//         expect(2 + 2).toBe(4);
//     });
//     it("deve ser possível somar 2 numeros", () => {
//         // expected to be realized
//         expect(2 + 2).not.toBe(5);
//     });
// })
